<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <!-- Google Fonts -->
    <include src="google_fonts.html"></include>
  </head>
  <body>
    <header id="header">
      <h1 class="logo">
        <a href="#">LOGO</a>
      </h1>
      <!-- // H1 -->

      <nav id="side-nav">
        <a href="javascript:void(0);" class="btn-toggle-side-nav" role="button">Open</a>
        <h2 class="title">side nav</h2>
        <nav>
          <ul>
            <li class="on"><a href="javascript:void(0);">menu1</a></li>
            <li><a href="javascript:void(0);">menu2</a></li>
            <li><a href="javascript:void(0);">menu3</a></li>
            <li><a href="javascript:void(0);">menu4</a></li>
            <li><a href="javascript:void(0);">menu5</a></li>
            <li><a href="javascript:void(0);">menu6</a></li>
          </ul>
        </nav>
      </nav>
      <!-- // SIDE NAV -->

      <button class="btn-toggle-menu" aria-label="open menu">
        <div class="icon-hamburger"></div>
      </button>
      <!-- // BTN TOGGLE NAV -->

      <label class="switch-header-scroll-mode">
        <span class="title">TOGGLE HEADER SHOW HIDE SCROLL MODE</span>
        <input type="checkbox" class="blind" />
        <span class="slider"></span>
      </label>
      <!-- // TOGGLE HEADER SCROLL MODE -->

      <label class="switch-full-page-scroll-mode">
        <span class="title">TOGGLE FULL PAGE SCROLL MODE</span>
        <input type="checkbox" class="blind" />
        <span class="slider"></span>
      </label>
      <!-- // TOGGLE FULL PAGE SCROLL MODE -->

      <nav id="menu">
        <ul>
          <li class="on"><a href="javascript:void(0);">menu1</a></li>
          <li><a href="javascript:void(0);">menu2</a></li>
          <li><a href="javascript:void(0);">menu3</a></li>
          <li><a href="javascript:void(0);">menu4</a></li>
          <li><a href="javascript:void(0);">menu5</a></li>
          <li><a href="javascript:void(0);">menu6</a></li>
        </ul>
      </nav>
      <!-- // NAV -->

      <nav id="dot-nav-a">
        <ul>
          <li class="on">
            <a href="javascript:void(0);">
              <span class="blind">go to article 1</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 2</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 3</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 4</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 5</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 6</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- // DOT NAV A -->

      <nav id="dot-nav-b">
        <ul>
          <li class="on">
            <a href="javascript:void(0);">
              <span class="blind">go to article 1</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 2</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 3</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 4</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 5</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 6</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- // DOT NAV B -->

      <nav id="dot-nav-c">
        <ul>
          <li class="on">
            <a href="javascript:void(0);">
              <span class="blind">go to article 1</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 2</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 3</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 4</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 5</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <span class="blind">go to article 6</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- // DOT NAV C -->
    </header>
    <!-- // HEADER -->

    <main id="main">
      <article>
        <h2>Time is <strong>gold</strong></h2>
      </article>
      <!-- // ARTICLE 1 -->

      <article>
        <h2>Seeing is <strong>believing</strong></h2>
      </article>
      <!-- // ARTICLE 2 -->

      <article>
        <h2>Asking costs <strong>nothing</strong></h2>
      </article>
      <!-- // ARTICLE 3 -->

      <article>
        <h2><strong>Better</strong> is to bow than break</h2>
      </article>
      <!-- // ARTICLE 4 -->

      <article>
        <h2><strong>Habit</strong> is second nature</h2>
      </article>
      <!-- // ARTICLE 5 -->

      <article>
        <h2>Pain past is <strong>pleasure</strong></h2>
      </article>
      <!-- // ARTICLE 6 -->
    </main>
    <!-- // MAIN -->
  </body>
</html>
