#header {
  #dot-nav-c {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    ul {
      li {
        width: 20px;
        height: 20px;
        margin-top: 8px;
        border-radius: 50%;
        a {
          position: relative;
          display: block;
          width: inherit;
          height: inherit;
          border-radius: inherit;
          background-color: rgb(255 255 255 / 30%);
          box-shadow: 0 0 0 2px #fff;
          &::after {
            content: "";
            position: absolute;
            width: inherit;
            height: inherit;
            border-radius: inherit;
            background-color: #fff;
            box-shadow: 0 0 1px 1px #fff;
            opacity: 0;
            pointer-events: none;
            transition:
              opacity 0.3s,
              transform 0.3s;
            transform: scale(3);
          }
        }
        &:first-child {
          margin-top: 0;
        }
        &.on {
          a {
            &::after {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
