#header {
  #side-nav {
    position: fixed;
    top: 70px;
    left: -300px;
    width: 300px;
    height: calc(100% - 70px);
    background-color: rgb(255 255 255 / 30%);
    transition: left 0.3s;
    &.on {
      left: 0;
    }
    .btn-toggle-side-nav {
      position: absolute;
      top: 0;
      right: -60px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgb(255 255 255 / 40%);
      color: #fff;
      line-height: 50px;
      text-align: center;
    }
    .title {
      padding: 60px 20px 40px;
      color: #fff;
      font-size: 40px;
      font-family: "Abel", sans-serif;
      text-align: center;
      text-transform: uppercase;
      text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    }
    nav {
      ul {
        li {
          border-left: 5px solid transparent;
          a {
            display: block;
            padding: 14px 20px;
            color: #fff;
            text-transform: uppercase;
            text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
          }
          &.on {
            border-left-color: #fff;
            background-color: rgb(255 255 255 / 40%);
          }
        }
      }
    }
  }
}
